body {
	font-family: 'Open Sans', sans-serif;
	}
 

@media screen and (max-width: 1134px)
    {
    .navbar-inverse .navbar-nav > li > a {
    	font-size: 12px;}
    .dropdown-menu li {
    	font-size: 12px;}
		    	
    }

@media screen and (max-width : 1019px)
    {
    .navbar-inverse .navbar-nav > li > a {
    	font-size: 11px;}
    .dropdown-menu li {
    	font-size: 11px;}    	
    }
    
@media screen and (max-width : 976px)
    {
    .navbar-inverse .navbar-nav > li > a {
    	font-size: 10px;}
    .dropdown-menu li {
    	font-size: 11px;}    	
    }


@media screen and (max-width : 939px)
    {
    .navbar-inverse .navbar-nav > li > a {
    	font-size: 9px;}
    .dropdown-menu li {
    	font-size: 10px;}    	
    }
    

@media screen and (max-width : 871px)
    {
    .navbar-inverse .navbar-nav > li > a {
    	font-size: 8px;}
    .dropdown-menu li {font-size: 9px;}
    }


footer {
	margin-top: 100px;
	}


.navbar-inverse {
	background-color: #383a3d;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	}

.navbar-inverse .navbar-nav > li > a {
    color: #b5b9bf;}

.navbar-inverse .navbar-nav > li.open a.dropdown-toggle{
    background-color: #292b2e}
   
.navbar-inverse a.navbar-brand {
	color: #b5b9bf;
	}


//imagens usam isto
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-thumbnail {
	margin-bottom: 20px;
	}
	
	.capa {
	margin-top: 100px;
}

//primeira pagina usa isto

.titulohomepage {
	margin-bottom: 20px;
	text-align: center;
}

.titulopagina {
	margin-top: 100px;
	margin-bottom: 50px;
}

.link-img {
	width: 64px;
	height: 64px;
}

// fix horizontal scroll

.row {
  margin-left: 0px;
  margin-right: 0px;
}



.list-group .porfazer {
	color: #ccc;
	}
