@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
	font-family: 'Open Sans', sans-serif;
	}
 



.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}










 
/* Small devices (tablets, 768px and up) */


@media (max-width: 767px) {
.navbar-inverse .navbar-nav .open .dropdown-menu {
	background-color: #FFF;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li {
	background-color: #FFF;
	color: #333;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
	color: #333;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{
background-color: #F5F5F5;
	color: #333;
}
}



#link_ajuda {
	position:absolute;
	margin-top: 5em;
	margin-left: 1em;
}

#link_ajuda a {
	text-decoration:none;
	color:#ccc;
	font-size: 1.5em;
}

#link_ajuda a:hover {
	color:#333;
}



footer {
	margin-top: 100px;
	}

.navbar {
	-webkit-border-radius: 0em;
	-moz-border-radius: 0em;
	border-radius: 0em;
}

.navbar-inverse {
	-webkit-border-radius: 0em;
	-moz-border-radius: 0em;
	border-radius: 0em;
	border-color: #5085b3;	
	background-color: #5085b3;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,22,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,22,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,22,0.75);
	}



.navbar-inverse .navbar-nav > li > a {
    color: #fff;}

.navbar-inverse .navbar-nav > li.open a.dropdown-toggle{
    background-color: #719fc6;}
   
.navbar-inverse a.navbar-brand {
	color: #fff;
	}




/*imagens usam isto*/
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-thumbnail {
	margin-bottom: 20px;
	}
	
	.capa {

}

/*primeira pagina usa isto*/

.titulohomepage {

	text-align: center;
	color:#000;
	text-shadow: -5px 5px 5px rgba(0,0,0, 0.3);
}

.titulopagina {
	margin-bottom: 50px;
}

.link-img {
	width: 64px;
	height: 64px;
}

/* fix horizontal scroll*/

.row {
  margin-left: 0px;
  margin-right: 0px;
}



.list-group .porfazer {
	color: #ccc;
	}
