@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
	font-family: 'Open Sans', sans-serif;
	}
 

 
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.navbar-inverse .navbar-nav > li > a {
    	font-size: 0.5em;}
   .dropdown-menu li {
    	font-size: 0.65em;}
   .logotipo {width: 35px;} 
 }

@media (min-width: 830px) {
	.navbar-inverse .navbar-nav > li > a {
    	font-size: 0.60em;}
   .dropdown-menu li {
    	font-size: 0.75em;}
   .logotipo {width: 35px;} 
 }

@media (min-width: 925px) {
	.navbar-inverse .navbar-nav > li > a {
    	font-size: 0.70em;}
   .dropdown-menu li {
    	font-size: 0.70em;}
   .logotipo {width: 35px;} 
 }



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar-inverse .navbar-nav > li > a {
    	font-size: 0.75em;}
    .dropdown-menu li {
    	font-size: 0.95em;}
    .logotipo {width: 65px;} 
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .navbar-inverse .navbar-nav > li > a {
    	font-size: 0.99em;}
    .dropdown-menu li {
    	font-size: 1em;}
    .logotipo {width: 100%;} 
 }


footer {
	margin-top: 100px;
	}


.navbar-inverse {
	border-radius: 0px;
	background-color: #383a3d;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	}

.navbar-inverse .navbar-nav > li > a {
    color: #b5b9bf;}

.navbar-inverse .navbar-nav > li.open a.dropdown-toggle{
    background-color: #292b2e}
   
.navbar-inverse a.navbar-brand {
	color: #b5b9bf;
	}


//imagens usam isto
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-thumbnail {
	margin-bottom: 20px;
	}
	
	.capa {
	margin-top: 100px;
}

//primeira pagina usa isto

.titulohomepage {
	margin-bottom: 20px;
	text-align: center;
}

.titulopagina {
	margin-top: 50px;
	margin-bottom: 50px;
}

.link-img {
	width: 64px;
	height: 64px;
}

// fix horizontal scroll

.row {
  margin-left: 0px;
  margin-right: 0px;
}



.list-group .porfazer {
	color: #ccc;
	}
